header {
    background-color: rgb(170, 170, 170);
    padding: 10px;
    text-align: center;
}

nav {
    background-color: rgb(56, 52, 52);
    padding: 10px;
}

nav a {
    color: rgb(223, 219, 219);
    font: bold 13px Georgia, serif;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgb(223, 223, 223);
    color: black;
}


section {
    background: rgb(226, 224, 222) url(../images/image.jpg) no-repeat fixed right;
    font-family: sans-serif;
    padding: 20px;
}


input {
    color: black;
    margin: 5px 20px 10px;
    width: 215px;
}

textarea {
    background-color:  rgb(235, 234, 232);
    color: rgb(114, 112, 112);
    margin: 5px 20px 10px;
    text-align: justify;
    width: 215px;
}

footer {
    background-color: rgb(170, 170, 170);
    padding: 10px;
    text-align: center;
}







